include templates/header.pug
  body
    include templates/nav.pug
    .dashboard
      include templates/sidebar.pug
      .content
        .row.search-form-wrapper
          form
            .search-wrapper.card
              input#search(placeholder="¿Qué estás buscando?")
              a#search-button.btn-floating.btn-large.waves-effect.waves-light.pink
                i.material-icons search
        .calendar
          #calendar
        .baby1
          h5.section-title.pink-text.popular Dudas populares en "Rebozo amarillo"
          .row.questions.popular
            include templates/questions/q.pug
        .baby2
          h5.section-title.pink-text Dudas populares en "Rebozo verde"
          .row.questions
            include templates/questions/f.pug
        h5.section-title.pink-text.results Resultados para "papilla"
        h6.results ¿No encuentras lo que buscas? 
        a.results Haz tu propia pregunta
        .row.questions.results
          include templates/questions/results.pug


        
            
  include templates/scripts.pug
