include templates/header.pug
  body
    include templates/nav.pug
    .main-page
      .col.center
        h2.white-text.main-text ¡Bienvenida mentora! Únete a la comunidad
        a.btn.pink.register(href="form.html") Registrarte
      div(class="main-slider carousel carousel-slider")
        div(class="carousel-fixed-item center")
        a(class="carousel-item")
          img(class="responsive-img" src="img/slider1.jpg")
        a(class="carousel-item")
          img(class="responsive-img" src="img/slider2.jpg")
        a(class="carousel-item")
          img(class="responsive-img" src="img/slider3.jpg")
            
  include templates/scripts.pug

  script(src="js/bundle.min.js")