include templates/header.pug
  body
    include templates/nav.pug
    .results-page
      h4.section-title.pink-text MENTORAS SUGERIDAS
      .row
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
      h4.section-title.pink-text PUEDES AYUDAR
      .row
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
        .col.l2.m3.s6
          include templates/card
            
  include templates/scripts.pug