ul.collapsible(data-collapsible='accordion')
  li
    .collapsible-header
      i.material-icons child_care
      | ¿Qué kinder me recomiendan en la Colonia del Valle?
    .collapsible-body
      | Respuesta más popular: <br>
      i.material-icons.favorite.pink-text favorite_border
      a.red-text Samantha - Rebozo Rojo
      p Muchas mamás se preguntan cómo pueden los bebés tener hipo dentro del útero, ya que aún no están respirando. Pero el hipo no tiene nada que ver con la respiración, sino que son contracciones repentinas del diafragma provocadas por la irritación o estimulación de ese músculo. 
      p Según Lynnette Mazur, profesora de pediatría en el centro de ciencias de la salud de la universidad de Texas, el hipo infantil normalmente ocurre debido a la alimentación (leche de pecho, fórmula y otras comidas). 
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Otras respuestas
          .collapsible-body
            span Lorem ipsum dolor sit amet.      
  li
    .collapsible-header
      i.material-icons child_care
      | Todo el tiempo resfriada!
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
  li
    .collapsible-header
      i.material-icons child_care
      | Ayuda con la uña!!!!!!!
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
