ul.collapsible(data-collapsible='accordion')
  li
    .collapsible-header
      i.material-icons child_care
      | First
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.      
  li
    .collapsible-header
      i.material-icons child_care
      | Second
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
  li
    .collapsible-header
      i.material-icons child_care
      | Third
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
