ul.collapsible(data-collapsible='accordion')
  li
    .collapsible-header
      i.material-icons child_care
      | ¿Cuando puedo empezar a dar papillas a mi bebé? ¿Cuál recomiendan?
    .collapsible-body
      | Respuesta más popular: <br>
      p
        i.material-icons.favorite.pink-text favorite_border
        a.red-text Andrea - Rebozo Rojo
      No existe una regla universal sobre cuándo es el momento ideal para introducir nuevos alimentos en la dieta de tu bebé. En este caso es más importante que consideres su desarrollo físico que su edad cronológica.

      Actualmente se recomienda la introducción de alimentos distintos a la leche a los seis meses cuando el bebé ya puede sentarse y participar de la alimentación como un proceso activo del cual forma parte.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Otras respuestas
          .collapsible-body
            span Lorem ipsum dolor sit amet.      
  li
    .collapsible-header
      i.material-icons child_care
      | Mi bebé ya cumplió seis meses y he comenzado a incorporar otros alimentos a su dieta, ¿Cuánta leche debe tomar ahora?
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
  li
    .collapsible-header
      i.material-icons child_care
      | A veces preparo mucha cantidad de papilla, ¿se puede refrigerar o solo debe comer alimentos frescos?
    .collapsible-body
      span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons whatshot
            | Respuesta mas popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
      ul.collapsible(data-collapsible='accordion')
        li
          .collapsible-header
            i.material-icons expand_more
            | Respuesta popular
          .collapsible-body
            span Lorem ipsum dolor sit amet.
