.col.l4
  .card
    .card-content.green.white-text
      p.card-stats-title
        i.mdi-social-group-add
        |  ¿A CUÁNTAS MUJERES HAS AYUDADO?
      h4.card-stats-number 56
      p.card-stats-compare
        i.mdi-hardware-keyboard-arrow-up
        |  3 
        span.green-text.text-lighten-5 esta semana
    .card-action.green.darken-2

