.card
  .card-content.yellow.darken-2.white-text
    p.card-stats-title
      i.mdi-social-group-add
      |  REBOZO AMARILLO:
    h6.card-stats-compare 0 meses - 1 año
  .card-action.yellow.darken-3.white-text
