nav
  div(class="nav-wrapper")
    a.brand-logo(href="/") Logo
    ul(id="nav-mobile" class="right hide-on-med-and-down")
      li
        a(href="dashboard.html" class="modal-trigger") Ingresar
div(class="modal" id="modal1")
  div(class="login-form")
    form 
      div(class="row")
        div(class="input-field")
          input(placeholder="Usuario" id="name" type="text" class="validate")
          label(for="first_name") Usuario
        div(class="input-field")
          input(id="password" type="password" class="validate")
          label(for="password") Contraseña
        a(class="btn") Ingresar
        a(class="btn" id="register") Registrarse
  div(class="register-form")
    form
      div(class="row")
        div(class="input-field")
          input(placeholder="Nombre" id="name" type="text" class="validate")
          label(for="first_name") Usuario
        div(class="input-field")
          input(placeholder="Correo" id="name" type="email" class="validate")
          label(for="email") Correo
        div(class="input-field")
          input(id="password" type="password" class="validate")
          label(for="password") Contraseña
        div(class="input-field")
          input(placeholder="Nombre" id="name" type="text" class="validate")
          label(for="first_name") Repite contraseña
        a(class="btn") Registrarte