.panel
  .user-view
    img.circle(src='img/profile.jpg')
    span.white-text.name Hola Crayola
    a(href='#!email')
      span.white-text.email jdandturk@gmail.com
    .collection
      a.collection-item(href='#!')
        | NIVEL:
        div.level Madre primeriza
      a.collection-item(href='#!')
        span.new.badge.red 4
        | PREGUNTAS
      a.collection-item(href='#!')
        span.badge 14
        | RESPUESTAS
